.cta-container{
    padding:0 10em 5em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-container .h2,.cta-container .quote-container .p{
    text-align: center;
}

.quote-container{
    margin: 2em 0;
}
.quote-container blockquote{
    margin: 0;
}
.author{
    text-align: center;
    text-wrap: nowrap;
    font-family: var( --quote-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    margin: 0;
}
.author::before,
.author::after{
    display: inline-block;
    content: "";
    border-top: .1rem solid hsl(0, 0%, 30%);
    width: 3rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}
.icon1, .icon2{
    font-size: 1rem;
}
.icon1{
    transform: translate(-0.5rem, 0.5rem);
}
.icon2{
    transform: translate(0.5rem, -0.5rem);
}

@media screen and (max-width:1200px) {
    .cta-container{
        padding: 0 5em 5em 5em;
    }
}

@media screen and (max-width:768px) {
    .cta-container{
        padding: 3em 2em;
    }
    .quote-container blockquote p{
        font-size: 1.4rem !important;
        margin-top: 0;
    }
    .quote-container blockquote .h2{
        margin-bottom: 0;
    }
}

@media screen and (max-width:576px) {
    .cta-container{
        padding: 2em 1em;
    }
}


