.hero-container{
    padding:5em 10em;
}

.hero-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container, .hero-content, .hero-sub-content,.hero-heading, .img-container{
    width: 100%;
}

.img-container{
    height: 600px;
    border-radius: 30px;
    margin: 2em 0;
    background: url(D:\react_projects\Quote-machine-rep\quote-machine\src\assets\heading-picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5em 0;
}

.hero-sub-content{
    display: flex;
    justify-content: center;
    position: relative;
}

.background-sub-content, .text-sub-content{
    width: 350px;
    height: 400px;
    border-radius: 30px;
}

.background-sub-content{
    background-color: var(--inputs-color);
    box-shadow: 3px 3px 10px  5px var(--footer-color);
    transform: rotate(10deg);
}

.text-sub-content{
    background-color: var(--footer-color);
    padding: 1em;
    position: absolute;
    box-shadow: 3px 3px 5px var(--inputs-color);
    color: hsl(0, 0%, 40%);
}

.text-sub-content .p{
    margin: 0;
}

.sub-li{
    margin-bottom: 0.5em;
}



