:root{
  --inputs-color:#361042;
  --footer-color: #E6E6E6;
  --quote-font: "Caveat", sans-serif;
  --h1-font: "Inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100%;
}

body{
  font-family: var(--h1-font);
  margin: 0;
  padding: 0;
  height: 100vh;
}

button{
  border-radius: 30px;
  padding: 1em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid;
  max-width: 9em;
  transition-property: color, background-color, border-color;
  transition-duration: 175ms;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1200px) {
  
}

@media screen and (max-width:768px) {
  button{
    font-size: 0.8rem;
  }
}

@media screen and (max-width:576px) {
  button{
    font-size: 0.9rem;
  }
}

