.nav-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}


.nav-ul{
    list-style: none;
    margin: 0;
    padding:0 ;
}

.nav-ul li{
    text-align: center;
    display: inline-block;
    margin: 0 1em;
    padding: 2em;
}