.buttonCon{
  margin:2em 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 325px;
}

.purple, .white{
    border-color: var(--inputs-color);
    flex: 1;
  }
  
  .purple{
    background-color: var(--inputs-color);
    color: white;
  }
  
  .white{
    background-color: white;
    color: var(--inputs-color);
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid var(--inputs-color);
    max-width: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  @media screen and (min-width: 1200px){
    .white{
      transition-property: color, background-color, border-color;
      transition-duration: 175ms;
      transition-timing-function: ease-in-out;
    }
    .white:hover{
      background-color: var(--inputs-color);
      color: white;
      width: auto;
    }
    
    .purple:hover{
      background-color: hsl(0, 0%, 100%);
      color: var(--inputs-color);
    }
}
@media screen and (max-width: 1199px) {
  .purple:active{
    background-color: hsl(0, 0%, 100%);
    color: var(--inputs-color);
  }
  .white:active{
    background-color: var(--inputs-color);
    color: white;
    width: auto;
  }
}

@media screen and (max-width:768px) {
    .buttonCon{
      max-width: 250px;
      margin-bottom: 0;
    }
    .white:active{
      background-color: var(--inputs-color);
      color: white;
      width: auto;
    }
    .purple:active{
      background-color: hsl(0, 0%, 100%);
      color: var(--inputs-color);
    }
    
}

@media screen and (max-width:576px) {
  .buttonCon{
    max-width: 300px;
  }
}