.buttonContainer{
  margin:2em 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 325px;
}

.purpleButton, .whiteButton{
    border-color: var(--inputs-color);
    flex: 1;
  }
  
  .purpleButton{
    background-color: var(--inputs-color);
    color: white;
  }
  
  .whiteButton{
    background-color: white;
    color: var(--inputs-color);
  }
  
  .whiteButton:hover{
    background-color: var(--inputs-color);
    color: white;
    width: auto;
  }
  
  .purpleButton:hover{
    background-color: hsl(0, 0%, 100%);
    color: var(--inputs-color);
  }

@media screen and (max-width:1200px) {
    
}

@media screen and (max-width:768px) {
    .buttonContainer{
      max-width: 250px;
      margin-bottom: 0;
    }
    
}

@media screen and (max-width:576px) {
  .buttonContainer{
    max-width: 300px;
  }
}